* {
  margin: 0;
  padding: 0;  
}

.App {  
  width: 100vw;
  height: 100vh;
  display: flex;  
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(50, 150, 200);
}

header {
  width: 100%;
  padding: 20px 0px;
  background-color: white;
  border-bottom: 1px solid rgb(200, 200, 200);
  color: black;
  background-color: rgb(50, 150, 200);
}

header h1 {
  margin-bottom: 21px;
  text-decoration: underline;
  padding: 0px 20px;
}

header p {
  padding: 0px 20px;
}

button {
  border: 2px solid black;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 2px 3px 10px black;
}
